<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>int-u4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-sizev">
    <ion-card-content class="v-container">
      <div class="v-container1 iframe">
        <iframe src="https://www.youtube.com/embed/DFL2ouW8bkA" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-sizet">

    <ion-card-header class="card-title" text-wrap>Introducción</ion-card-header>
    <ion-card-content class="card-subtitle">

      La selección de una herramienta que permita realizar un test de penetración (Pentesting), es de vital
      importancia, debido a que permite encontrar las vulnerabilidades en un sistema informático a tiempo y
      permitiendo reparar dichas vulnerabilidades de forma rápida y efectiva.

    </ion-card-content>

    <ion-card-content class="button-content">
      <ion-button shape="round" (click)="aSelec_SU_U4()">Iniciar</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>
