<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>

      <ion-col size="12" size-sm>

        <ion-card class="card-content2">
          <ion-card-content>
            <ion-card-title class="card-title">
              ¿Que es Piensa seguro?
            </ion-card-title>
            <p class="card-subtitle">
              Es un Entorno Virtual de Aprendizaje (EVA), propuesto para mejorar habilidades en el área de Seguridad
              Informática (SI), formando a sus usuarios en temas actualizados y de gran impacto para
              empresas y entidades, trabajando en conjunto a través de la virtualidad y el uso de herramientas
              tecnológicas, generando así de este modo, una serie de impactos significativos sobre el modelo educativo y
              el perfil egresado de los usuarios.
            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="12" size-sm>

        <ion-card class="card-content2">
          <ion-card-content>
            <ion-card-title class="card-title">
              ¿Cual es el propósito de Piensa Seguro App?
            </ion-card-title>
            <p class="card-subtitle">
              Formar a estudiantes de ingeniería de sistemas que con conocimientos actualizados en relación con
              Seguridad Informática (SI) y protección de información, a través de la estrategia didáctica basada en los
              Entornos Personales de Aprendizaje (PLE) de tipo E-Learning, de manera que, al finalizar el proceso de
              formación, el estudiante se encuentre en capacidad de identificar, promover y adoptar una postura crítica
              frente a los diversos riesgos, amenazas y vulnerabilidades en los sistemas informáticos.</p>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="12" size-sm>

        <ion-card class="card-content2">
          <ion-card-content>
            <ion-card-title class="card-title">Lineas de diseño educativo</ion-card-title>
            <p class="card-subtitle">
              El proceso de construcción del Entorno Virtual de Aprendizaje (EVA) Piensa Seguro App, cuenta con una
              metodología activa, donde se promueve en los estudiantes, un espacio donde pueda adquirir los
              conocimientos necesarios en Seguridad Informática (SI), de este modo se permea el aprendizaje mediante un
              marco basado en el Diseño Instruccional (DI) y compuesto por las etapas del modelo ADDIE (Análisis,
              Diseño, Desarrollo, Implementación y Evaluación), el cual permite desarrollar competencias blandas
              (kSkills) al adoptar de manera rápida, continua y eficiente los diversos temas dispuestos en el Entorno
              Virtual de Aprendizaje (EVA); adicionalmente se cuenta con el componente de las Habilidades del
              Pensamiento Crítico-Reflexivo (HPCR), que permitirán maximizar el impacto generado gracias al Análisis,
              Evaluación, Explicación, Interpretación e Inferencia.
            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>

      <ion-col size="12" size-sm>

        <ion-card class="card-content2">
          <ion-card-content>
            <ion-card-title class="card-title"> Créditos </ion-card-title>
            <ion-list>
              <ion-item class="font-list">
                <h3 style="margin-right: 5%;">Equipo de desarrollo:</h3>
                <p>Jose Luiyi Plaza Arias</p>
              </ion-item>
              <ion-item class="font-list">
                <h3 style="margin-right: 5%;">Equipo de Diseño: </h3>
                <p>Jose Luiyi Plaza Arias</p>
              </ion-item>
              <ion-item class="font-list">
                <h3 style="margin-right: 5%;">Equipo de Pruebas: </h3>
                <p>Jose Luiyi Plaza Arias</p>
              </ion-item>
              <ion-item class="font-list">
                <h3 style="margin-right: 5%;">Producción audiovisual: </h3>
                <p>Jose Luiyi Plaza Arias</p>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="12" size-sm>

        <ion-card class="card-content2">
          <ion-card-content>
            <ion-card-title class="card-title">Sobre Piensa Seguro App</ion-card-title>
            <ion-list>
              <ion-item class="font-list">
                <h3 style="margin-right: 5%;">Versión:</h3>
                <p>v 0.1.1</p>
              </ion-item>
              <ion-item class="font-list">
                <h3 style="margin-right: 5%;">Número de temas:</h3>
                <p>+ 50</p>
              </ion-item>
              <ion-item class="font-list">
                <h3 style="margin-right: 5%;">Fecha de revisión:</h3>
                <p>dd/mm/aa</p>
              </ion-item>
              <ion-item class="font-list">
                <h3 style="margin-right: 5%;">Fecha de producción:</h3>
                <p>dd/mm/aa</p>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col size="12" size-sm>

        <ion-card class="card-content2">
          <ion-card-content>
            <ion-card-title class="card-title">Bibliografia del contenido</ion-card-title>
            <ion-card-content class="button-content">
              <ion-button shape="round" (click)="aBiblio()">Ver biliografías</ion-button>
            </ion-card-content>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>