<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>acerca-de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title class="card-title">
        ¿Que es Piensa seguro?
      </ion-card-title>
      <p class="card-subtitle">Descripcion.................................................</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title class="card-title">
        ¿Propósito de Piensa Seguro App?
      </ion-card-title>
      <p class="card-subtitle">Descripcion.................................................</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title class="card-title">Lineas de diseño educativo</ion-card-title>
      <p class="card-subtitle">Descripción basada en AVA.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title class="card-title"> Créditos </ion-card-title>
      <ion-list>
        <ion-item class="font-list">
          <h3>Equipo de desarrollo</h3>
          <p>Jose Luiyi Plaza Arias</p>
        </ion-item>
        <ion-item class="font-list">
          <h3>Equipo de diseño</h3>
          <p>Jose Luiyi Plaza Arias</p>
        </ion-item>
        <ion-item class="font-list">
          <h3>Equipo de Pruebas</h3>
          <p>Jose Luiyi Plaza Arias</p>
        </ion-item>
        <ion-item class="font-list">
          <h3>Producción audiovisual</h3>
          <p>Jose Luiyi Plaza Arias</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title class="card-title">Sobre Piensa Seguro App</ion-card-title>
      <ion-list>
        <ion-item class="font-list">
          <h3>Versión</h3>
          <p>v 0.0.1</p>
        </ion-item>
        <ion-item class="font-list">
          <h3>Número de temas</h3>
          <p>#</p>
        </ion-item>
        <ion-item class="font-list">
          <h3>Fecha de revisión</h3>
          <p>dd/mm/aa</p>
        </ion-item>
        <ion-item class="font-list">
          <h3>Fecha de producción</h3>
          <p>dd/mm/aa</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title class="card-title">Bibliografia del contenido</ion-card-title>
      <ion-card-content class="button-content">
        <ion-button ion-button class="btn" (click)="aBiblio()" round>Ver biliografías</ion-button>
      </ion-card-content>
    </ion-card-content>
  </ion-card>

</ion-content>