<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/selec-su-u2"></ion-back-button>
    </ion-buttons>
    <ion-title>t2-su2-u2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-size1">

    <ion-card-header class="card-title" text-wrap>
      Tema: Ataque por Fabricación y Interceptación
    </ion-card-header>

    <ion-card-content class="v-container">
      <div class="v-container2 iframe">
        <iframe src="https://www.youtube.com/embed/PVI9V7pxplc" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>
