<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card class="card-content2">
          <ion-card-content class="card-subtitle">

            <strong>Sub Unidad 1:</strong> Seguridad Informática VS Seguridad de la información.

            <ion-list>
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t1_su1_u1()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a1_su1_u1()">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t2_su1_u1()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>


              <hr class="rounded">

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a2_su1_u1()">
                  Cásula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t3_su1_u1()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t4_su1_u1()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a3_su1_u1()">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/file/d/1sHG7RZpff1MP0MaWTdvNuUboOxvfmD-n/view">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-content2">
          <ion-card-content class="card-subtitle">

            <strong>Sub Unidad 2:</strong> Pilares de la seguridad informática.

            <ion-list>

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t1_su2_u1()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t2_su2_u1()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t3_su2_u1()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a1_su2_u1()">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item>
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/file/d/1yIFs3lTpsFmAapdhevriwHtTlcS0fc8d/view">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-content2">
          <ion-card-content class="card-subtitle">

            <strong>Prueba Unidad 1:</strong> Introducción a la seguridad

            <ion-list>

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/controles.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="aEVA_U1()">
                  Prueba
                  <ion-icon name="ribbon-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card class="card-content2">
          <ion-card-content class="card-title">

            <strong>Siguiente unidad</strong>

            <ion-list>

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../assets/icon/Iconos/llaveMano.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="aintU2()">
                  Unidad 2
                  <ion-icon name="play-forward-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>

          </ion-card-content>

        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="tertiary" (click)="aLogrosU1()">
      <ion-icon name="ribbon-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>