<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>int-u1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-sizev">
    <ion-card-content class="v-container">
      <div class="v-container1 iframe">
        <iframe src="https://www.youtube.com/embed/fkbUN0iOFkE" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-sizet">

    <ion-card-header class="card-title" text-wrap>Introducción</ion-card-header>
    <ion-card-content class="card-subtitle">
      La seguridad informática juega un rol importante en la vida cotidiana, debido a que sin el conocimiento que
      requiere este plano, nuestros dispositivos electrónicos se encontrarían en constante peligro, al igual que
      los datos salvaguardados en los sistemas informáticos.

    </ion-card-content>

    <ion-card-content class="button-content">
      <ion-button shape="round" (click)="aSelec_SU_U1()">Iniciar</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>