<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="aLogrosU3()">
        Logros
        <ion-icon name="ribbon-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/int-u3"></ion-back-button>
    </ion-buttons>
    <ion-title>selec-su-u3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card class="card-content2">
          <img class="img-size" src="../../../../../assets/icon/Logros/Und 3.png">
        </ion-card>

        <ion-card class="card-content2">
          <ion-card-content class="card-subtitle">

            <strong>Sub Unidad 1:</strong> Vectores de ataque

            <ion-list>
              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t1_su1_u3()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t2_su1_u3()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t3_su1_u3()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t4_su1_u3()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t5_su1_u3()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t6_su1_u3()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a1_su1_u3()">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>

          </ion-card-content>
        </ion-card>

        <ion-card class="card-content2">
          <ion-card-content class="card-subtitle">

            <strong>Sub Unidad 2:</strong> Objetivo de ataque

            <ion-list>
              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t1_su2_u3()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a1_su2_u3()">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t2_su2_u3()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=15bX4-8m8pO-YPZwrAmR6CBSGJ0vqLDQ6">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a2_su2_u3()">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t3_su2_u3()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=1zu8VhVDYW6X5QvwzBOA5AK3TwViaCrXV">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a3_su2_u3()">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>

          </ion-card-content>
        </ion-card>

        <ion-card class="card-content2">
          <ion-card-content class="card-subtitle">

            <strong>Sub Unidad 3:</strong> Métodos de ataque

            <ion-list>

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t1_su3_u3()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=1rL4zp0WyKFBVlx-tdqOqocxaegRQiLhJ">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=1P16wk59qkDbUcsDGUgQZSqXbS5GHNaRU">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=1fTO7u34ZXXZwj9vCdI_iyTE-cNBgokfM">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=1XczGj-_hidXwx4yKtUl1n0PgUk5fEpXp">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t2_su3_u3()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=1V9kBtEHQVue8DJKOx0BfipVh-j99WkoB">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a1_su3_u3()">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>

          </ion-card-content>
        </ion-card>

        <ion-card class="card-content2">
          <ion-card-content class="card-subtitle">

            <strong>Prueba Unidad 3:</strong> Determinación de medios y metodologías de ataque

            <ion-list>

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/controles.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="aEVA_U3()">
                  Prueba
                  <ion-icon name="ribbon-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card class="card-content2">
          <ion-card-content class="card-title">

            <strong>Siguiente unidad</strong>

            <ion-list>
              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/llaveMano.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="aintU4()">
                  Unidad 4
                  <ion-icon name="play-forward-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>

          </ion-card-content>

        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>