<ion-header>
  <ion-toolbar>
    <ion-title>logros-u2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div style=" display: flex; align-items: center; justify-content: center;">
    <ion-card class="round-img">
      <img class="round-img" src="../../../../assets/icon/Logros/3.png">
    </ion-card>
  </div>

  <div style=" display: flex; align-items: center; justify-content: center;">
    <ion-card class="round-img">
      <img class="round-img" src="../../../../assets/icon/Logros/4.png">
    </ion-card>
  </div>

  <div style=" display: flex; align-items: center; justify-content: center;">
    <ion-card class="round-img">
      <img class="round-img" src="../../../../assets/icon/Logros/5.png">
    </ion-card>
  </div>

  <div style=" display: flex; align-items: center; justify-content: center;">
    <ion-card class="round-img">
      <img class="round-img" src="../../../../assets/icon/Logros/6.png">
    </ion-card>
  </div>

</ion-content>
