<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SGSI parte II</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-sizeD">
    <img style="width: 100%;" src="../../../../../assets/imgs/3.png">
  </ion-card>

  <ion-card class="card-size1">
    <ion-card-content class="v-container">
      <div class="v-container2 iframe">
        <iframe src="https://www.youtube.com/embed/D6JlcAW0CjE" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>