<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="aLogrosU1()">
        Logros
        <ion-icon name="ribbon-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/int-u1"></ion-back-button>
    </ion-buttons>
    <ion-title>selec-su-u4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card class="card-content2">
          <img class="img-size" src="../../../../../assets/icon/Logros/Und 4.png">
        </ion-card>

        <ion-card class="card-content2">
          <ion-card-content class="card-subtitle">

            <strong>Sub Unidad 1:</strong> Rol de un analista de sistemas en empresas

            <ion-list>
              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t1_su1_u4()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=1Fq9n4Q41iluTSnXSNvf04c3ZoGGjzKiu">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a1_su1_u4()">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>

          </ion-card-content>
        </ion-card>

        <ion-card class="card-content2">
          <ion-card-content class="card-subtitle">

            <strong>Sub Unidad 2:</strong> Pentesting Básico

            <ion-list>
              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t1_su2_u4()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=14SjXFqJ8FW-iphWPcVLGfY6HI7IC3z2A">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=10oEf8ju1hKhmhugFVR6ZON0qJhACYbDg">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a1_su2_u4()">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=1nYV3iuXMBZ4bYiERGdlcqJlUIiy95CDg">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/camara2.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="t2_su2_u4()">
                  Video
                  <ion-icon name="play-circle-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=1_JZMTpmxylwpMZzL4xl1_g7NVcSh4_3W">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/alerta.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=16heV3BnFeuX9e9gJpRs-gq6U769UyNDn">
                  Infografía
                  <ion-icon name="bookmarks-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="a2_su2_u4()">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

              <hr class="rounded">

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/contraseña3.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end"
                  href="https://drive.google.com/open?id=1Lw_vRWmT5W_2fap5ZQojvPXm4aeEeIoE">
                  Cápsula
                  <ion-icon name="reader-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>

          </ion-card-content>
        </ion-card>

        <ion-card class="card-content2">
          <ion-card-content class="card-subtitle">

            <strong>Prueba Unidad 4:</strong> Herramientas y pentesting básico

            <ion-list>

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/controles.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="aEVA_U4()">
                  Prueba
                  <ion-icon name="ribbon-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card class="card-content2">
          <ion-card-content class="card-title">

            <strong>Siguiente unidad</strong>

            <ion-list>

              <ion-item class="font-list">
                <ion-thumbnail item-start>
                  <img src="../../../../../assets/icon/Iconos/llaveMano.png">
                </ion-thumbnail>
                <ion-button fill="outline" slot="end" (click)="aintU5()">
                  Unidad 5
                  <ion-icon name="play-forward-outline"></ion-icon>
                </ion-button>
              </ion-item>

            </ion-list>

          </ion-card-content>

        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>