<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title>Unidad 1</ion-card-title>
      <p>Tu progreso</p>
      <ion-item class="font-list">
        <ion-range min="0" max="100" disabled step="10" snaps="true" color="primary">
          <ion-badge range-right></ion-badge>
        </ion-range>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title>Unidad 2</ion-card-title>
      <p>Tu progreso</p>
      <ion-item class="font-list">
        <ion-range min="0" max="100" disabled step="10" snaps="true" color="primary">
          <ion-badge range-right></ion-badge>
        </ion-range>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title>Unidad 3</ion-card-title>
      <p>Tu progreso</p>
      <ion-item class="font-list">
        <ion-range min="0" max="100" disabled step="10" snaps="true" color="primary">
          <ion-badge range-right></ion-badge>
        </ion-range>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title>Unidad 4</ion-card-title>
      <p>Tu progreso</p>
      <ion-item class="font-list">
        <ion-range min="0" max="100" disabled step="10" snaps="true" color="primary">
          <ion-badge range-right></ion-badge>
        </ion-range>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title>Unidad 5</ion-card-title>
      <p>Tu progreso</p>
      <ion-item class="font-list">
        <ion-range min="0" max="100" disabled step="10" snaps="true" color="primary">
          <ion-badge range-right></ion-badge>
        </ion-range>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title>Unidad 6</ion-card-title>
      <p>Tu progreso</p>
      <ion-item class="font-list">
        <ion-range min="0" max="100" disabled step="10" snaps="true" color="primary">
          <ion-badge range-right></ion-badge>
        </ion-range>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-content2">
    <ion-card-content>
      <ion-card-title>Unidad 7</ion-card-title>
      <p>Tu progreso</p>
      <ion-item class="font-list">
        <ion-range min="0" max="100" disabled step="10" snaps="true" color="primary">
          <ion-badge range-right></ion-badge>
        </ion-range>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>