<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>int-u7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-sizev">
    <ion-card-content class="v-container">
      <div class="v-container1 iframe">
        <iframe src="https://www.youtube.com/embed/qwW7sPjscEc" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-sizet">

    <ion-card-header class="card-title" text-wrap>Introducción</ion-card-header>
    <ion-card-content class="card-subtitle">

      La normativa legal es uno de los principales protagonistas para promover legalmente la prohibición del hurto
      de información y violación del perímetro de seguridad en sistemas informáticos, por lo cual se estipula que
      las sanciones que se deben efectuar a quienes realicen actos indebidos en los sistemas informáticos que
      comprometan la disponibilidad, integridad y confidencialidad.

    </ion-card-content>

    <ion-card-content class="button-content">
      <ion-button shape="round" (click)="aSelec_SU_U7()">Iniciar</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>
