<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/selec-su-u6"></ion-back-button>
    </ion-buttons>
    <ion-title>criptolaboratorio2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <br/>
  
  <div id="Iframe-Liason-Sheet" class="iframe-border center-block-horiz">
    <div class="responsive-wrapper responsive-wrapper-wxh-760x1200">
      <iframe src="https://es.planetcalc.com/2463">Cargando…</iframe>
    </div>
  </div>

</ion-content>