<ion-header>
  <ion-toolbar>
    <ion-title>logros-u5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-content2">
    <img class="img-size2" src="">
  </ion-card>

  <ion-card class="card-content2">
    <img class="img-size2" src="">
  </ion-card>

  <div style=" display: flex; align-items: center; justify-content: center;">
    <ion-card class="round-img">
      <img class="round-img" src="../../../../assets/icon/Logros/12.png">
    </ion-card>
  </div>

  <div style=" display: flex; align-items: center; justify-content: center;">
    <ion-card class="round-img">
      <img class="round-img" src="../../../../assets/icon/Logros/13.png">
    </ion-card>
  </div>

</ion-content>
