<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>int-u5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-sizev">
    <ion-card-content class="v-container">
      <div class="v-container1 iframe">
        <iframe src="https://www.youtube.com/embed/r7fztmCZgnM" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-sizet">

    <ion-card-header class="card-title" text-wrap>Introducción</ion-card-header>
    <ion-card-content class="card-subtitle">

      En la ciberseguridad es de vital importancia salvaguardar la información de los sistemas informáticos,
      resaltando el rol que desempeñan aquellos expertos en esta área que día a día trabajan por evitar ser
      víctimas de un ciberataque y mantener los pilares fundamentales de la seguridad informática aplicados.

    </ion-card-content>

    <ion-card-content class="button-content">
      <ion-button shape="round" (click)="aSelec_SU_U5()">Iniciar</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>
