<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Unidad Temática 6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-sizev">
    <ion-card-content class="v-container">
      <div class="v-container1 iframe">
        <iframe src="https://www.youtube.com/embed/TanY1v4QEVU" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-sizet">

    <ion-card-header class="card-title" text-wrap>Introducción</ion-card-header>
    <ion-card-content class="card-subtitle">

      Sobre la criptografía se podría decir que es un componente en la construcción de una barrera adicional para
      garantizar la ciberseguridad en un sistema informático debido a que se encarga de proteger la información
      sensible de ser objeto de hurto por parte de los ciberdelincuentes debido a la dificultad para ser
      comprensible a simple vista al emplear algoritmos criptográficos complejos al igual que algoritmos
      matemáticos que cambian el orden de los factores.

    </ion-card-content>

    <ion-card-content class="button-content">
      <ion-button shape="round" (click)="aSelec_SU_U6()">Empezar</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>