ion-toolbar{
    --ion-background-color:#01cfe6;
}

ion-item {
    --ion-background-color:#c2edf1;
}

ion-list {
    --ion-background-color:#c2edf1;
}

ion-content{
    --ion-background-color: #E0F7FA;
}