<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card class="card-content1">
          <img class="img-size" src="../../assets/icon/Logros/Und 1.png">
          <ion-card-content class="button-content">
            <ion-button shape="round" (click)="aInt_U1()">Ver unidad</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card class="card-content1">
          <img class="img-size" src="../../assets/icon/Logros/Und 2.png">
          <ion-card-content class="button-content">
            <ion-button shape="round" (click)="aInt_U2()">Ver unidad</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card class="card-content1">
          <img class="img-size" src="../../assets/icon/Logros/Und 3.png">
          <ion-card-content class="button-content">
            <ion-button shape="round" (click)="aInt_U3()">Ver unidad</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card class="card-content1">
          <img class="img-size" src="../../assets/icon/Logros/Und 4.png">
          <ion-card-content class="button-content">
            <ion-button shape="round" (click)="aInt_U4()">Ver unidad</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card class="card-content1">
          <img class="img-size" src="../../assets/icon/Logros/Und 5.png">
          <ion-card-content class="button-content">
            <ion-button shape="round" (click)="aInt_U5()">Ver unidad</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card class="card-content1">
          <img class="img-size" src="../../assets/icon/Logros/Und 6.png">
          <ion-card-content class="button-content">
            <ion-button shape="round" (click)="aInt_U6()">Ver unidad</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card class="card-content1">
          <img class="img-size" src="../../assets/icon/Logros/Und 7.png">
          <ion-card-content class="button-content">
            <ion-button shape="round" (click)="aInt_U7()">Ver unidad</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>