<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>int-u3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="card-sizev">
    <ion-card-content class="v-container">
      <div class="v-container1 iframe">
        <iframe src="https://www.youtube.com/embed/BZmdtUGaLPs" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-sizet">

    <ion-card-header class="card-title" text-wrap>Introducción</ion-card-header>
    <ion-card-content class="card-subtitle">

      La determinación de los medios y metodologías de ataque, juegan un papel importante dentro de la
      ciberseguridad, por la razón de efectividad en la selección del medio para acceder a los sistemas
      informáticos y la metodología que en algunos casos ya es preestablecida, derivando de este modo, la
      obtención de resultados mucho más efectivos sobre los objetivos impactados.

    </ion-card-content>

    <ion-card-content class="button-content">
      <ion-button shape="round" (click)="aSelec_SU_U3()">Iniciar</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>